---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ArrowLeft } from "lucide-astro";
---

<BaseLayout title="Not found" description="404 Error — this page was not found">
  <section
    class="mx-auto flex flex-col items-center justify-center gap-6 px-4 text-center md:w-4/5 md:p-0 lg:w-3/5"
  >
    <h1
      class="font-headline text-5xl font-bold text-sage-700 dark:text-sage-500 xl:text-8xl"
    >
      4O4
    </h1>
    <h2
      class="text-2xl font-semibold text-green-800 dark:text-green-600/70 xl:text-4xl"
    >
      Something's missing
    </h2>
    <p class="text-xl xl:text-2xl">
      Sorry, we can't find that page. But there's lots more to explore on the
      home page.
    </p>
    <p class="flex items-center gap-2">
      <ArrowLeft />
      <a
        class="text-xl font-bold underline hover:text-green-700 dark:text-yellow-400 dark:hover:text-green-300"
        href="/"
      >
        Back to home page</a
      >
    </p>
  </section>
</BaseLayout>
