---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogFeed from "../components/BlogFeed.astro";
import { getCollection } from "astro:content";
import FeedLabel from "../components/FeedLabel.astro";
import FeedWrapper from "../components/FeedWrapper.astro";

const allPosts = await getCollection("posts");

const blogPostsPreviews = allPosts
  .filter((post) => post.data.tags[0] === "blogPost" && !post.data.isDraft)
  .toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map(({ data, slug }) => ({ data, slug }));
---

<BaseLayout title="Blog" description="Axel Ingadi's blog posts">
  <FeedWrapper>
    <FeedLabel category="blogPost" }>
      <div aria-description="Posts by Axel Ingadi">
        <BlogFeed blogPostPreviews={blogPostsPreviews} />
      </div>
    </FeedLabel>
  </FeedWrapper>
</BaseLayout>
