---
import { PostTypeSchema, CategorySchema } from "../content/config";
import { z } from "astro:content";

type Props = {
  category: z.infer<typeof PostTypeSchema> | z.infer<typeof CategorySchema>;
  tag?: string;
};

const { category, tag } = Astro.props;
const titles = [category];
---

<article class="md:flex md:items-start md:gap-1">
  <h1
    class="hidden select-none font-headline uppercase tracking-wider text-sage-700 [writing-mode:vertical-lr] dark:text-sage-500 lg:sticky lg:top-8 lg:flex lg:items-center lg:gap-3 lg:opacity-50"
  >
    {
      titles.map((title, id) => (
        <>
          <span class="text-5xl 2xl:text-7xl">{title}</span>
          {id !== titles.length - 1 && (
            <span aria-hidden="true" class="text-5xl 2xl:text-7xl">
              &sol;
            </span>
          )}
        </>
      ))
    }
  </h1>
  <slot />
</article>
