---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"li"> & { isActive: boolean };

const { isActive } = Astro.props;
---

<li
  class:list={[
    "font-bold tracking-wide transition-all",
    {
      "text-green-700 underline decoration-sage-700 decoration-wavy underline-offset-1 dark:text-green-300 dark:decoration-sage-500":
        isActive,
    },
    {
      "text-current  hover:text-green-700 dark:text-yellow-400 dark:hover:text-green-300":
        !isActive,
    },
  ]}
>
  <slot />
</li>
