---
import FeedWrapper from "./FeedWrapper.astro";
import BlogPostPreview from "./BlogPostPreview.astro";

interface Props {
  tags: string[];
  series?: number[];
}

const { tags, series } = Astro.props;
---

<section>
  <FeedWrapper>
    <h2>More from <span class="underline">{tags[0]}</span></h2>
  </FeedWrapper>
</section>
