---
import type { CollectionEntry } from "astro:content";
import FeedWrapper from "./FeedWrapper.astro";
import BlogPostPreview from "./BlogPostPreview.astro";

type Props = Pick<CollectionEntry<"posts">["data"], "tags" | "series">;

const { tags, series } = Astro.props;
---

<section>
  <FeedWrapper>
    <h2>More from <span class="underline">{tags[0]}</span></h2>
  </FeedWrapper>
</section>
