---
import type { CollectionEntry } from "astro:content";

type Props = Pick<CollectionEntry<"posts">["data"], "tags">;

const { tags } = Astro.props;
---

<ul class="flex items-center uppercase">
  {
    tags.slice(2).map((tag, id) => (
      <>
        <li class="text-sm font-bold text-green-800 dark:text-green-600/70 lg:text-base">
          {tag}
        </li>
      </>
    ))
  }
</ul>

<style>
  li:first-child::after {
    content: "\2022";
    margin-inline-start: 0.25rem;
    margin-inline-end: 0.25rem;
  }
</style>
