---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<ul class="flex items-center gap-1 uppercase">
  {
    tags.map((tag, id) => (
      <>
        <li class="text-sm font-bold text-green-800 dark:text-green-600 lg:text-base">
          {tag}
        </li>
        {id !== tags.length - 1 && (
          <li aria-hidden="true" class="text-2xl">
            &middot;
          </li>
        )}
      </>
    ))
  }
</ul>
